html, body {
    background-color:white;
    box-sizing: border-box;
    height:auto; /* Avoids scroll bar issue */
    margin:0px;
    padding:5px;
    width:auto;
    font-family:Arial,Helvetica,sans-serif;
}

#container {
    display:flex;
    flex-direction:column;
    width:100%;
    height:100%;
}



#header {
    background:linear-gradient(#003350,#002a42);
    margin-bottom:25px;
    box-shadow: 0 3px 3px rgb(0 0 0 / 25%);
}

#header-logo-container {
    align-items: center;
    display:flex;
    justify-content: center;
}

#header-img-logo {
    padding:.75rem;
}

#header-buttons-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background: linear-gradient(#0b8cd9,#1594e0);
    border-top: 2px solid #69b8eb;
}

#header-buttons-container button {
    margin: 0 .5rem;
}

#main-content {
    background-color:rgba(105,184,235,.3);
    height:100%;
    /* padding:10px; */
}

.table-header {
    height:100%;
    /* background-color:lightcoral; */
    display:flex;
    flex-direction:column;

    align-items: center;
    justify-content: center;
}

.table-header button {
    margin: .5rem .5rem;
}

#unassigned-requests-table {
    height:"100%",
}

h3 {
    text-align:center;
    color:#C31A21;
    font-weight:700;
    font-size:1rem;
    text-transform:uppercase;
    margin:20px 0px 0px 0px;
}

span.link, p.link {
    color:blue;
    text-decoration: underline;
}

.task-area {
    display:flex;
    /* background-color:red; */
    width:100%;
    align-items: center;
    flex-direction: row;
}

.icon-img {
    width:20px;
    height:20px;
    padding:5px;
}


.task-assign, .task-date {
    margin:3px 0px;
 }


.active-queue {
    display:flex;
    align-items: center;
    width:100%;
}

.active-queue-date {
    margin-right:15px;
}

.active-queue-stat {
    margin-left:auto;
    text-align:right;
}

.active-queue-num {
    font-weight:bolder;
}

.prt-date {
    width:100%;
    text-align:center;
}

.prt-na {
    color:lightgray;
}

.pending, .total-load {
    display:flex;
    width:100%;
    flex-direction: column;
    align-items:flex-end;

}

.proj {
    font-weight:bolder;
}

.user-switcher {
    position: absolute;
    top: 20px;
    right: 20px;
}

#alert {
    /* display:none; */
    display:flex;
    position:fixed;
    align-items:center;
    justify-content: center;
    /* top:0px; */
    left:0px;
    right:0px;
    /* bottom:0px; */
    width:100%;
    height:100%;
    z-index:1000;
    background-color: rgba(0,0,0,.5);
}

.content-container {
    padding:30px;
    max-width:Calc(100vw - 60);
    
    background-color:#efeee1;
}

.view-request-container {
    width:Calc(100vw - 500px);
    min-width:500px;
    display:flex;
    flex-direction:column;
}

.view-request-area {
    max-width:100%;
    height:100%;
    margin-bottom:20px;

    /* background-color:lightblue */
}

.alert-header {
    text-transform:uppercase;
    color:#C31A21;
    text-decoration: underline;
    font-size:10pt;
}


.area-labels {
    display:flex;
    align-items:stretch;
    flex-wrap:wrap;
}

.input-area {
    display:flex;
    margin:5px 5px;
}



.view-request-area label {
    font-size:10pt;
    line-height:20px;
    white-space:nowrap;
}

.view-request-area input, .view-request-area select {
    margin-left:5px;
}

.cpi-col {

    display:flex;
    flex-direction:column;
    align-items: flex-end;
}

#cpi-col2  input, #cpi-col3  input, #cpi-col4  input {
    width:70px;
}
#cpi-col1 {
    min-width:unset;
    flex:1;
    align-items:stretch;

}
#cpi-col1 input {
    
    flex:1;
}
.i-col {
    flex:1;
}

.a-col {
    flex:1;
}

#reset-override {
    margin-left:auto;
}


.btn-book {
    margin-left:5px;
}

hr {
    width:100%;
}


/*

.cpi-col {
    width:100%;
}

.cpi-col label {
    text-align:right;
    width:100%;
    line-height:20px;
}

.cpi-col input {
    text-align:right;
    width:50px;
    line-height:20px;
}

#cpi-col1 label {
    text-align:right;
    width:30%;
    line-height:20px;
}

#cpi-col1 input {
    width:100%;
    margin-left:10px;
}



#cpi-col1, #cpi-col3 {
    background-color:lightpink;
}

#cpi-col2, #cpi-col4 {
    background-color:lightskyblue;
}
*/