html, body {
    background-color:white;
    box-sizing: border-box;
    height:auto; /* Avoids scroll bar issue */
    margin:0px;
    padding:5px;
    width:auto;
}

#container {
    display:flex;
    flex-direction:column;
    width:100%;
    height:100%;
}



#header {
    background:linear-gradient(#003350,#002a42);
}

#header-logo-container {
    align-items: center;
    display:flex;
    justify-content: center;
}

#header-img-logo {
    padding:.75rem;
}

#header-buttons-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background: linear-gradient(#0b8cd9,#1594e0);
    border-top: 2px solid #69b8eb;
}

#header-buttons-container button {
    margin: 0 .5rem;
}

#main-content {
    background-color:lightblue;
    height:100%;
    /* padding:10px; */
}

.table-header {
    height:100%;
    /* background-color:lightcoral; */
    display:flex;
    align-items: center;
    justify-content: center;
}

.table-header button {
    margin: .5rem .5rem;
}

#unassigned-requests-table {
    height:"100%",
}








