html, body {
    background-color:white;
    box-sizing: border-box;
    height:auto; /* Avoids scroll bar issue */
    margin:0px;
    padding:5px;
    width:auto;
    font-family:Arial,Helvetica,sans-serif;
}

#container {
    display:flex;
    flex-direction:column;
    width:100%;
    height:100%;
}



#header {
    background:linear-gradient(#003350,#002a42);
    margin-bottom:25px;
    box-shadow: 0 3px 3px rgb(0 0 0 / 25%);
}

#header-logo-container {
    align-items: center;
    display:flex;
    justify-content: center;
}

#header-img-logo {
    padding:.75rem;
}

#header-buttons-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background: linear-gradient(#0b8cd9,#1594e0);
    border-top: 2px solid #69b8eb;
}

#header-buttons-container button {
    margin: 0 .5rem;
}

#main-content {
    background-color:rgba(105,184,235,.3);
    height:100%;
    /* padding:10px; */
}

.table-header {
    height:100%;
    /* background-color:lightcoral; */
    display:flex;
    flex-direction:column;

    align-items: center;
    justify-content: center;
}

.table-header button {
    margin: .5rem .5rem;
}

#unassigned-requests-table {
    height:"100%",
}

h3 {
    text-align:center;
    color:#C31A21;
    font-weight:700;
    font-size:1rem;
    text-transform:uppercase;
    margin:20px 0px 0px 0px;
}

span.link, p.link {
    color:blue;
    text-decoration: underline;
}

.task-area {
    display:flex;
    /* background-color:red; */
    width:100%;
    align-items: center;
    flex-direction: row;
}

.icon-img {
    width:20px;
    height:20px;
    padding:5px;
}


.task-assign, .task-date {
    margin:3px 0px;
 }


.active-queue {
    display:flex;
    align-items: center;
    width:100%;
}

.active-queue-date {
    margin-right:15px;
}

.active-queue-stat {
    margin-left:auto;
    text-align:right;
}

.active-queue-num {
    font-weight:bolder;
}

.prt-date {
    width:100%;
    text-align:center;
}

.prt-na {
    color:lightgray;
}

.pending, .total-load {
    display:flex;
    width:100%;
    flex-direction: column;
    align-items:flex-end;

}

.proj {
    font-weight:bolder;
}

.user-switcher {
    position: absolute;
    top: 20px;
    right: 20px;
}

#alert {
    display:none;
    /* display:flex; */
    position:fixed;
    align-items:center;
    justify-content: center;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    width:100%;
    height:100%;
    z-index:1000;
    background-color: rgba(0,0,0,.5);
}

.content-container {
    padding:30px;
    max-width:800px;
    /* min-width:calc(100vw - 80px); */
    background-color:#efeee1;
}

hr {
    margin:20px 0px;
}

.req-title {
    display:flex;
    align-items: center;
    /* background-color:lightblue; */

}

.req-title > h3 {
    text-transform:uppercase;
    color:#C31A21;
    text-decoration: underline;
    font-size:10pt;
    margin:0px;
}

#req-break-up {
    margin-left:auto;
}

.req-body {
    display:flex;
    flex-grow:1;
    margin:5px;
    /* flex-direction:column; */
}



#req-info-right {
    /* width:100%; */
    flex:1;
    display:flex;
    flex-wrap:wrap;
}

#req-info-right > .input-area {
    max-width:200px;
    /* margin:0px; */
}

#req-info-right > .input-area > input {
    max-width:60px;
}

#req-info-left {
    width:40%;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
}

.input-area > label {
    font-size:10pt;
}


#req-info-left .input-area > input {
    width:200px;
}

.input-area {
    margin:10px;
}

.area-labels {
    display:flex;
    width:100%;
    align-items: center;
    /* background-color:lightgray; */
    margin-top:10px;
}

.req-instructions-col {
    width:100%;
    display:flex;
    justify-content: center;
}

.btn-book {
    margin-left:5px;
}

.req-col {
    flex-direction:column;
}

#req-time-top {
    display:flex;
}

#req-time-top .input-area input {
    width:100%;
}

#req-time-bottom {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin-right:75px;
}

#req-assignments-top {
    display:flex;
    align-items: center;
}

#req-artist-table {
    max-height:300px;
}